.form-builder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .question-container {
    width: 600px;
  }

  .toolbar {
    margin-top: 20px;
    display: flex;
    align-content: center;
  }

  .submit-button {
    margin-left: 100px;
  }

  .checkbox-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    mat-checkbox {
      margin-bottom: 10px;
    }
  }

  .question-answer {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.5);
  }
}
